body {
    background-color: rgb(199, 102, 255);
    color: rgb(168, 1, 1);
}

h1 {
    color: gold;
}

div {
    color: wheat;
    width: 75px;
    height: 75px;
    background-color:aqua;
    margin: 16px;
    border: 3px solid black;
    border-left: 5px double rgb(0, 0, 0);
    border-right: 5px double black;
    border-radius: 25px;
    outline: 2px solid white;
    padding: 16px;
}

.boop {
    background-color:brown;
}

.stinky {
    background-color: darkgreen;
}

.um {
    background-color:fuchsia;
}





























































/* moshi moshi 


    do u have 2 have all that everytime
    do i put sumthing in each 1
    will they look diffiii
    so it just make them smoller
    wtf is that
    i 
    did i have a stroke x.x 
    ez game
    okiee what nxt

    so if i wanna make it no new line then do a <p> 1st
    what is best 2 use

    so those r the other files we made b4 tho rite
    what if
    i do
    k
    i answer my own question c:

    we should make a code that has as many lines as u have at worksies
    like 100k x.x

    we used ul b4

    u did that so fast x.x
    how many pages do we have x.x
    what 1 is like the home page


    wait how do i comment on the html side
































*/