.nav {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #260240;
}

.nav .buttons a {
    font-size: 22px;
    margin: 0px 23px;
    padding: 8px 24px;
}



/* 
    buttons


   

    

















*/
































/* 


so much code o.o

ikrrr

we have been doing it like almost 4hrs o.o
like 3.5




*/










