.nav {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #260240;
}

.nav .buttons a {
    font-size: 22px;
    margin: 0px 23px;
    padding: 8px 24px;
}




































/* 

wait sryyy wut did u say x.x

i was peeling nail polish off :3

what about like home button 


u mean everything from css or from html








*/










